*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

body {
  min-height: 100vh;
}

footer {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  text-align: center;
  margin-top: auto;
  border-top: solid 3px black;
  background-color: white;
}

footer li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
}

footer ul {
  gap: 200px;
}

footer a {
  color: blueviolet;
  font-weight: bolder;
}

p.article-vide {
  margin: auto;
}

.color-contact a {
  color: white;
}

#contact {
  padding: 0;
  margin: 0;
}

img.contact-logo {
  width: 30px;
  height: 30px;
  padding-right: 20px;
}

@media screen and (max-width: 1350px) and (min-width: 1030px) {
  footer ul {
    text-align: center;
    gap: 150px;
  }

  footer ul li {
    margin: 0;
    padding: 20px;
  }

  .color-contact-1 {
    display: none;
  }
}

@media screen and (max-width: 1120px) and (min-width: 1030px) {
  footer ul {
    text-align: center;
    gap: 50px;
  }
}

@media screen and (max-width: 1029px) and (min-width: 1000px) {
  footer ul {
    gap: 50px;
  }
}

@media screen and (max-width: 999px) and (min-width: 350px) {
  footer ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

footer ul li {
  margin: 0;
  padding: 0px;
}

.color-contact-1 {
  display: none;
}

@media screen and (max-width: 520px) {
  footer ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  footer ul li {
    margin: 0;
    padding: 0;
  }
}
